<div class="col-md-4" *ngFor="let juego of games">
    <br>

    <div class="card text-center">

        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{juego.title}}
            <button class="btn btn-danger" (click)="eliminarGame(juego.id)">
                <i class="far fa-trash-alt"></i>
            </button>

        </div>

        <img [src]="juego.image" class="card-img-top tamano" alt="">

        <div class="card-body">

            <p>{{juego.description}}</p>
            
            <a [routerLink]="['/games/personajes']" class="btn btn-info col-6" >Personajes</a>

            <a [routerLink]="['/games/misiones']" class="btn btn-success col-6" >Misiones</a>

            <a [routerLink]="['/games/editar', juego.id]" class="btn btn-secundary btn-block" >Editar juego</a>

        </div>

    </div>

</div>